* {
box-sizing: border-box;
}

.flex-item {
    width: 200px;
    height: 200px;
    background-color:rgba(177, 177, 177, 0.5);
    border: 5px dotted white;
    text-align: center;        
}

.flex-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    flex-wrap: wrap;
    margin: auto;  
    border: 1px solid royalblue;
     
}

html {
    background-color:royalblue;
    min-height: 100vh;
    color:white;
    font-size: 25px;
}

