* {
box-sizing: border-box;
}

.flex-item {
    width: 200px;
    height: 200px;
    background-color:rgba(177, 177, 177, 0.5);
border: 1px dotted white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    max-width: 100%;
}

html {
    background-color:royalblue;
    min-height: 100vh;
    color:white;
}